<h3 style="color:blue;">Hanoi is the capital of Vietnam</h3>
<a href="{{ path ('gw')}}">Link to Greenwich</a>
<img src="https://cdn.theculturetrip.com/wp-content/uploads/2021/07/ba-dinh-square-at-dusk-hanoi-vietnam.jpg" alt=""
width="300" height="300">